.landing-body {
    font-family: "Roboto", sans-serif;
    color: #2c2c2c;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    background: black;
}

#navbar-logo {
    height: 80px;
}

#heading-container {
    padding-top: 0;
}

/* Section for the Landing Page */

#video-wrapper {
	margin:0;
	padding:0;
    border: 0;
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
    width: 100% !important;
    height: 100%;
}

#dare-to-play {
	position: absolute;
	z-index:2;
	left:0;
	right:0;
    margin-left: auto;
    margin-right: auto;
	top:85%;
	border-radius:25px;
	background-color: rgb(226, 110, 33);
	background: -webkit-linear-gradient(top, rgba(252, 94, 2, 0.925), rgba(241, 189, 44, 0.8));
	background: -o-linear-gradient(top, rgba(252, 94, 2, 0.925), rgba(241, 189, 44, 0.8)); 
	background: -moz-linear-gradient(top, rgba(252, 94, 2, 0.925), rgba(241, 189, 44, 0.8)); 
	background: linear-gradient(top, rgba(252, 94, 2, 0.925), rgba(241, 189, 44, 0.8)); 
}

#dare-to-play a{
	color: #363535;
	text-decoration: underline;
	font-size: 30px;
}

#dare-to-play p{
	padding-top:3px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#dare-to-play:hover {
    cursor: pointer;
}

#dare-to-play a:hover {
    color: #e62907;
}

/* ----- Section for the Home Page ----- */
.footer-copyright {
    overflow: hidden;
}

.social-network-row {
    padding-left: 15px;
}

.social-network-col {
    flex: 0 0 100%;
    letter-spacing: 1.5em;
    padding-left: 15px;
}

.copyright-col {
    flex: 0 0 100%;
    padding-left: 15px;
}

.social-network-navbar {
    justify-content: center;
    flex-direction: row;
    font-size: 1.5rem;
}

/* ----- Navbar ----- */
.header-navbar,
.footer-navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: black;
    color: #ffffff;
    border: 0;
}

.footer-navbar {
    justify-content: center;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar-brand {
    padding: 0;
    margin: 0;
    border: 0;
}

.navbar .navbar-nav a {
    font-weight: bold;
    font-size: 150%;
}

.navbar-contents:hover {
    background: #8e24aa;
    cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.dropdown-menu,
.dropdown-item {
    background: #8e24aa;
    color: #fafafa;
}

.dropdown-menu:hover {
    background: #8e24aa;
    color: #212529;
}

.page-btn-nav {
    font-weight: bold;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.page-btn-nav:hover {
    background: #8e24aa;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.control-border {
    border: 2px solid #8e24aa;
}


/* ---- Media Screen ---- */
@media only screen and (min-width: 600px) {
    #dare-to-play {
        top: 90%;
        width:300px;
        height:50px;
    }
}

@media only screen and (max-width: 600px) {
    #dare-to-play {
        top: 72%;
        width: 150px;
        height: 30px;
    }

    #dare-to-play a{
        font-size: 20px;
    }
}

@media only screen and (max-width: 400px) {
    #dare-to-play {
        top: 68%;
        width: 150px;
        height: 30px;
    }
    
    #dare-to-play a{
        font-size: 20px;
    }
}
